/* General */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.general-background-container {
    background: radial-gradient(circle, rgb(87, 87, 87) 0%, rgb(9, 9, 9) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem;
    gap: 1rem; 
    overflow: auto; 
    text-align: center;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #505050, #303030);
    padding: 0.6rem 1.3rem;
    color: white;
}

.logo img {
    height: 5rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    background: #4c4c4c;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.nav-link:hover {
    background: #ffcc33;
    color: black;
    transition: 0.3s ease;
}

.login-register-logout-container {
    text-decoration: none;
    background: #4c4c4c00;
}

.nav-link-logout {
    text-decoration: none;
    color: white;
    background: #d80000;
    padding: 0.6rem 1.3rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.nav-link-logout:hover {
    background: #980000;
    transition: 0.3s ease;
}

.login-register {
    background: #ffcc33;
    border-radius: 0.3rem;
    padding: 0.6rem 1.3rem;
}

.login-register:hover {
    background: #bc941b;
    transition: 0.3s ease;
    cursor: pointer;
}

.login-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Home Page */

.home-background-container {
    background: url('../css/images/main.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.booknow-btn {
    margin-top: 12rem;
    padding: 0.9rem 1.9rem;
    background-color: #7e77e79a;
    border: 0.3rem solid #ffe38a;
    border-radius: 1.3rem;
    color: #ffe38a;
    font-size: 2rem;
    font-weight: bolder;
    box-shadow: 0rem 0rem 1.5rem #ffe38a;
    cursor: pointer;
}

.booknow-btn:hover {
    background-color: #7e77e7e3;
    transition: 0.3s ease;
    transform: scale(1.1);
}

/* Register & Login */

.register-and-login-container {
    background-color: #8b8b8b;
    width: 100%;
    max-width: 25rem;
    max-height: fit-content;
    padding: 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 5rem rgb(0, 0, 0);
    text-align: center;
    border: 0.2rem solid #00000088;
    margin-top: 3rem;
}

h2 {
    font-size: 2.4rem;
    color: #000000;
    margin-bottom: 2.5rem;
    margin-top: 0rem;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-align: left;
    font-size: 1rem;
    color: #000000;
}

.reg-login {
    padding: 0.9rem;
    border: 0.2rem solid #00000088;
    border-radius: 0.5rem;
    background-color: #adadad;
    color: #000000;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.reg-login:focus {
    border-color: #ffc413;
    border-width: 0.2rem;
    background-color: #c2c2c2;
    box-shadow: 0rem 0rem 1rem rgb(0, 0, 0);
    outline: none;
}

.reg-and-login-btn {
    padding: 0.9rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffcc33;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.reg-and-login-btn:hover {
    background-color: #c89b15;
    transform: translateY(-0.2rem);
}

.reg-and-login-btn:active {
    background-color: #c89b15;
    transform: translateY(-0.7rem);
}

.error-box {
    font-size: 1.2rem;
    color: #ff1900;
    font-weight: bold;
    margin-top: 1rem;
}

.good-box {
    font-size: 1.2rem;
    color: #169300;
    font-weight: bold;
    margin-top: 1rem;
}

.registration-link {
    font-style: none;
}

.registration-link:hover {
    transition: ease 0.3s;
    color: #febf00;
}

/* Management Dash */

.roles-changing-container {
    margin: 2.5rem;
    background-color: #a0a0a0;
    max-height: fit-content;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.management-headings {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.roles-label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
}

select {
    padding: 0.6rem;
    margin-bottom: 0.9rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #ccc;
    font-size: 1rem;
    color: #444444;
}

select:focus {
    border: 0.1rem solid #febf00;
}

.updatebtn {
    background-color: #febf00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    padding: 0.6rem;
    margin-bottom: 0.9rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #ccc;
    font-size: 1rem;
}

.updatebtn:hover {
    background-color: #c09514;
    transition: ease 0.3s;
}

.staff-register-container {
    margin: 2.5rem;
    background-color: #a0a0a0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 25rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.staff-register {
    padding: 0.9rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.staff-register:focus {
    border-color: #ffc413;
    border-width: 0.1rem;
    outline: none;
    transition: none;
    transform: none;
}

.management-reg-btn {
    background-color: #febf00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    padding: 0.6rem;
    margin-bottom: 0.9rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #ccc;
    font-size: 1rem;
}

.management-reg-btn:hover {
    background-color: #c09514;
    transition: ease 0.3s;
}

.activity-management-container {
    margin: 2.5rem;
    background-color: #a0a0a0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 25rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

/* Activities */

.seperate-activity-containers {
    background-color: #afafaf;
    border: 0.3rem solid #00000096;
    border-radius: 1rem;
    width: 20%;
    margin: 0;
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    display: inline-grid;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.seperate-activity-containers:hover {
    transform: translateY(-0.3rem);
    border-color: #ffcc33;
    border-width: 0.2rem;
    transition: transform 0.3s ease;
}

.seperate-activity-containers img {
    width: 100%;
    height: 15rem;
    min-height: 15rem;
    max-height: 15rem;
    border-radius: 0.3rem;
    margin-top: 0.8rem;
    object-fit: cover;
}

.seperate-activity-containers strong {
    font-size: 1.5rem;
    color: #000000;
}

.seperate-activity-containers p {
    font-size: 1.2rem;
    color: #000000;
    line-height: 1.5;
    margin-top: 0.6rem;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    min-height: 17rem;
}

#file-upload {
    font-size: 1rem;              
    padding: 0.5rem 1rem;          
    border: 0.1rem solid #ccc;     
    border-radius: 0.4rem;        
    background-color: #f9f9f9;    
    color: #333;                  
    cursor: pointer;              
    width: 100%;                     
    max-width: 30rem;
}

#file-upload:hover {
    background-color: #d4d4d4;
    border-color: #767676;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.delete-activity-container {
    margin: 2.5rem;
    background-color: #a0a0a0;
    max-height: fit-content;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

/* Calendar */

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    text-align: center;
}

.calendar-main-container {
    background-color: #8b8b8b;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 90%;
    max-width: 45rem;
    max-height: fit-content;
}

.day {
    padding: 1rem;
    border: 0.06rem solid #ddd;
    border-radius: 0.31rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.select-booking {
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #ddd;
    width: 100%;
    max-width: auto;
    margin-bottom: 1.5rem;
    background-color: #f8f8f8;
    color: #555;
}

.day:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.unavailable {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.available {
    background-color: #ffbf00;
    color: #000000;
}

.available:hover{
    background-color: #b98a00;
}

/* Times*/

.time-slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.times-main-container{
    margin-top: 5rem;
    background-color: #8b8b8b;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    padding-bottom: 5rem;
    width: 90%;
    max-width: 45rem;
    max-height: fit-content;
}

.time-slot {
    padding: 1rem 2rem;
    border: 0.06rem solid #ddd;
    border-radius: 0.31rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.time-slot:hover {
    transform: scale(1.05);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.time-slot.unavailable {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

.time-slot.available {
    background-color: #ffbf00;
    color: #000000;
}

.time-slot.available:hover {
    background-color: #b98a00;
}

/* Success */

.sucessfull-book{
    color: #ffbf00;
}