/* General */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.general-background-container {
    background: url('../css/images/mainbg.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex;
    text-align: center;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #505050, #303030);
    padding: 0.60rem 1.30rem;
    color: white;
}

.logo img {
    height: 5.00rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 1.30rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    background: #4c4c4c;
    padding: 0.60rem 1.30rem;
    border-radius: 0.30rem;
    font-size: 1.00rem;
}

.nav-link:hover {
    background: #ffcc33;
    color: black;
    transition: 0.30s ease;
}

.login-register-logout-container {
    text-decoration: none;
    background: #4c4c4c00;
}

.nav-link-logout {
    text-decoration: none;
    color: white;
    background: #d80000;
    padding: 0.60rem 1.30rem;
    border-radius: 0.30rem;
    font-size: 1.00rem;
}

.nav-link-logout:hover {
    background: #980000;
    transition: 0.30s ease;
}

.login-register {
    background: #ffcc33;
    border-radius: 0.30rem;
    padding: 0.60rem 1.30rem;
}

.login-register:hover {
    background: #bc941b;
    transition: 0.30s ease;
    cursor: pointer;
}

.login-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Home Page */

.home-background-container {
    background: url('../css/images/main.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.booknow-btn {
    margin-top: 12.00rem;
    padding: 0.90rem 1.90rem;
    background-color: #7e77e79a;
    border: 0.30rem solid #ffe38a;
    border-radius: 1.30em;
    color: #ffe38a;
    font-size: 2.00rem;
    font-weight: bolder;
    box-shadow: 0.00rem 0.00rem 1.50rem #ffe38a;
    cursor: pointer;
}

.booknow-btn:hover {
    background-color: #7e77e7e3;
    transition: 0.30s ease;
}

/* Register & Login */

.register-and-login-container {
    background-color: #8b8b8b;
    width: 100%;
    max-width: 25.00rem;
    max-height: fit-content;
    padding: 2.50rem;
    border-radius: 1.50rem;
    box-shadow: 0.00rem 0.00rem 5.00rem rgb(0, 0, 0);
    text-align: center;
    border: 0.20rem solid #00000088;
    margin-top: 3.00rem;
}

h2 {
    font-size: 2.40rem;
    color: #000000;
    margin-bottom: 2.50rem;
    margin-top: 0.00rem;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.50rem;
    font-weight: 600;
    text-align: left;
    font-size: 1.00rem;
    color: #000000;
}

.reg-login  {
    padding: 0.90rem;
    border: 0.20rem solid #00000088;
    border-radius: 0.50rem;
    background-color: #adadad;
    color: #000000;
    font-size: 1.00rem;
    transition: all 0.30s ease;
}

.reg-login:focus {
    border-color: #ffc413;
    border-width: 0.20rem;
    background-color: #c2c2c2;
    box-shadow: 0.00rem 0.00rem 1.00rem rgb(0, 0, 0);
    outline: none;
}

.reg-and-login-btn {
    padding: 0.90rem;
    margin-top: 1.50rem;
    border: none;
    border-radius: 0.50rem;
    background-color: #ffcc33;
    color: #000000;
    font-size: 1.00rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.30s ease, transform 0.20s ease;
}

.reg-and-login-btn:hover {
    background-color: #c89b15;
    transform: translateY(-0.20rem);
}

.reg-and-login-btn:active {
    background-color: #c89b15;
    transform: translateY(-0.70rem);
}

.error-box {
    font-size: 1.15rem;
    color: #ff1900;
    font-weight: bold;
    margin-top: 1.00rem;
}

.good-box {
    font-size: 1.15rem;
    color: #169300;
    font-weight: bold;
    margin-top: 1.00rem;
}

.registration-link {
    font-style: none;
}

.registration-link:hover {
    transition: ease 0.30s;
    color: #febf00;
}

/* Management Dash */

.roles-changing-container {
    margin: 40px;
    background-color: #a0a0a0;
    max-height: fit-content;
    padding: 23px;
    border-radius: 23px;
}

.management-headings {
    font-size: 2rem;
    margin-top: 1.5rem;
}

.roles-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    color: #444444;
}

select:focus {
    border: 2px solid #febf00;
}

.updatebtn {
    background-color: #febf00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.updatebtn:hover {
    background-color: #c09514;
    transition: ease 0.30s;
}

.staff-register-container {
    margin: 40px;
    background-color: #a0a0a0;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 25rem;
    padding: 23px;
    border-radius: 23px;
}

.staff-register {
    padding: 0.90rem;
    border: 1px solid #ccc;
    border-radius: 0.50rem;
    font-size: 0.95rem;
    transition: all 0.30s ease;
}

.staff-register:focus {
    border-color: #ffc413;
    border-width: 0.20rem;
    outline: none;
    transition: none;
    transform: none;
}

.management-reg-btn {
    background-color: #febf00;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.management-reg-btn:hover {
    background-color: #c09514;
    transition: ease 0.30s;
}